@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --azul-primario: #282e6e;
  --azul-fundo: #1c279c;
  --azul-fundo-2: #061521;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  color: white;
  background-color: var(--azul-fundo-2);
  padding: 20px;
  text-align: left;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: normal;
  }
}
.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  h2,
  h4 {
    font-weight: bold;
    margin-top: 10px;
  }
  button {
    padding: 10px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background-color: var(--azul-primario);
    margin-top: 10px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .opcao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .texto {
    p {
      width: fit-content;
    }
  }
}
.checkbox-wrapper * {
  box-sizing: border-box;
}

.checkbox-wrapper .checkbox {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper .checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper .checkbox:hover {
  background: rgba(71, 75, 255, 0.06);
}

.checkbox-wrapper .checkbox span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .checkbox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper .checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper .checkbox:hover span:first-child {
  border-color: #474bff;
}

.checkbox-wrapper .input {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper .input:checked + .checkbox span:first-child {
  background: #474bff;
  border-color: #474bff;
  animation: wave 0.4s ease;
}

.checkbox-wrapper .input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.rodape {
  background-color: #1c279c;
  color: white;
  padding: 30px;
  margin-top: 0;
  text-align: center;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    .form {
      align-content: center;
    }
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 50%;
  }
  .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
  }
  .menu-icon {
    display: none;
  }
}
