body{
    margin: 0;
}
.principal{
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    height: 350px;
    width: 500px;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
}