body{
    margin: 0;
}
.principal{
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-med{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    height: 550px;
    width: 500px;
}
.content-med{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    gap: 20px;
}
h1{
    font-size: 20px;
}
label, h1{
    margin-left: 45px;
    align-self: flex-start;
}
input{
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dadada;
}
input:focus{
    outline: none;
}

.modal-btn{
    margin-left: 45px;
    align-self: flex-start;
}
.btn-add, .btn-back{
    font-size: 15px;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 10px;
    
}
.modal-med .content-med .modal-btn .btn-add{
      background-color: #1C279C;
      border: 2px solid #1C279C;
    }
     .modal-med .content-med .modal-btn .btn-back{
      background-color: #fafafae7;
      color: #000;
      border: none;
    }
    .modal-med .content-med .modal-btn .btn-add:hover{
     background-color: #fafafafa;
     border: 1px solid #06a706;
      color: #06a706;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
      .modal-med .content-med .modal-btn .btn-back:hover{
     border: 1px solid #ff0000;
      color: #ff0000;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
